footer {
    background: #161616d5;
    color: #e7e7e7;
    height: 70px;
    margin-top: 8.7%; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#copy{
    text-align: center;
    margin-top: 15px;
 }
 #designed-by{
    font-size: 1.25em;
    font-family: 'Modak', cursive;
 }
 #line{
     margin-bottom:1%;
 }
  .designer{
    color: #09f7f78e;  
 }